body {
    padding: 0;
    margin: 0;
}

#unity-container {
    position: absolute; /* Cambiado a posición relativa */
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    background-color: #A55FB0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    #unity-container.unity-desktop {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #unity-container.unity-mobile {
        position: fixed;
        width: 100%;
        height: 100%;
    }

#unity-canvas {
    background: #231F20;
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#unity-logo {
    width: 154px;
    height: 130px;
    background: url('unity-logo-dark.png') no-repeat center;
}

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}

#unity-footer {
    position: relative;
}

.unity-mobile #unity-footer {
    display: none;
}

#unity-webgl-logo {
    display: none;
    float: left;
    width: 204px;
    height: 38px;
    background: url('webgl-logo.png') no-repeat center;
}

#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px;
    color: white;
}

#unity-fullscreen-button {
    cursor: pointer;
    float: right;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}

#known-issues {
    background: white;
    width: 20%;
    font-size: small;
    background-color: #BE1EDB;
    text-align: center;
    color: white;
    opacity: 0.35;
    font-family: Arial;
    padding: 10px;
    margin-top: 20px; /* Agrega un margen superior para separar del unity-container */
    margin-right: 100%; /* Agrega un margen superior para separar del unity-container */
}
